@tailwind base;
@tailwind components;
@tailwind utilities;

/* resources/css/app.css */

#loadingSpinner{
 display:none;
 
}

.custom-spinner {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    /* Center vertically within the viewport */
}

.spinner-container {
    text-align: center;
}

.spinner {
    width: 15px; /* Set your desired width */
    height: 15px; /* Set your desired height */
    display: inline-block;
}

.spinner-text {
    font-size: 16px;
    color: #333;
}

.logo {
    height: 150px;
    max-height: 150px;
    width: 160px;
}